.hidden {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.backgroundImg {
  display: flex;
  justify-content: center;
}

.bodyForm {
  display: flex;
  height: 100%;
  justify-content: center;
}
